.image-transition {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.image-transition.fade-out {
  opacity: 0;
}

.image-transition.fade-in {
  opacity: 1;
}

img.my-image {
  width: 60%;
}
